
.icon-mail:before { content: '\e801'; } /* '' */
.icon-export:before { content: '\e802'; } /* '' */
.icon-user-outline:before { content: '\e803'; } /* '' */
.icon-lamp:before { content: '\e804'; } /* '' */
.icon-menu-outline:before { content: '\e805'; } /* '' */
.icon-barcode:before { content: '\e806'; } /* '' */
.icon-attention-alt:before { content: '\e807'; } /* '' */
.icon-book-open:before { content: '\e808'; } /* '' */
.icon-coverflow-empty:before { content: '\e809'; } /* '' */
.icon-video-1:before { content: '\e80a'; } /* '' */